*{margin-top: 0px;
    margin-bottom: 5px;
padding: 2px;}

body { 
    background-color: rgb(71, 71, 71);
    left:25px;
 }

 #Table{
    margin-left: 20px;
}


  #blackRow {
      background-color: black;
      height: 80px;
      width: 1800px;
      margin-left: -10px;
    }



    #back{
        position: absolute;
        top:27px;
        left:10px;

    }

    #tour{
        position: absolute;
        top:27px;
        font-size: 25px;
        left:45px;
 }

    #setting{
        position: absolute;
        top:25px;
        right:45px;
    }


    #help{
        position: absolute;
        top:25px;
        right:105px;
        
    }

    #pin{
        position: absolute;
        top:25px;
        right:165px;
    }

     
    #text{
        position: absolute;
        top:200px;
        right:580px;
        color:white;
        font-size: 30px;
        
        
    }

    #bild1{
        position: absolute;
        top: 280px;
        left: 700px;
        box-shadow: -10px -10px 80px #2e2e2e,
                    10px 10px 80px #2e2e2e;
    }

    #bild2{
        position: absolute;
         top: 335px;
        left: 450px;
        box-shadow: -10px -10px 80px #2e2e2e,
        10px 10px 80px #2e2e2e;
    }

    #bild3{
        position: absolute;
         top: 335px;
        left: 200px;
        box-shadow: -10px -10px 80px #2e2e2e,
        10px 10px 80px #2e2e2e;
    }


    #bild4{
        position: absolute;
         top: 335px;
        right: 450px;
        box-shadow: -10px -10px 80px #2e2e2e,
        10px 10px 80px #2e2e2e;
    }


    #bild5{
        position: absolute;
         top: 335px;
        right: 200px;
        box-shadow: -10px -10px 80px #2e2e2e,
        10px 10px 80px #2e2e2e;
    }