body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

h1{
    font-size: 28px;
    font-weight: 300;
}

h2{
    font-size: 16px;
    font-weight: 400;
}


label {
    font-size: 12px;
    font-weight: 300;
}


#bilddatei1{
position: absolute;
width: 240px;
height: 25px;
left: 435px;
top: 356px;
}

#buttonBild{
    position: absolute;
    background-color: rgb(48, 47, 47);
    border:0;
    color: white;
    width: 120px;
    height: 31px;
    left: 685px;
    top: 376px;
}

#bilddatei{
    position: absolute;
    width: 235px;
    height: 25px;
    left: 435px;
    top: 376px; 
}

#set{
    width: 500px;
}

#abbildung{
   
    height: 320px;
    width:753px;
}


#allgemein{
    margin-top: 25px;
    height: 160px;
    width:753px;
}

#weitereInfos{
    margin-top: 25px;
    height: 160px;
    width: 753px;

}

#status{
    margin-top: 25px;
    height: 160px;
    width: 380px;
}

#zuordnung{
    margin-top: -179px;
    margin-left: 415px;
    height: 160px;
    width: 340px;
}


#datierung{
    position: absolute;
    width: 385px;
    height: 25px; 
    left: 38px; 
    top:500px;
}

#datierung1{
    position: absolute;
    width: 365px;
    height: 25px; 
    left: 38px;
    top: 478px;
}


#eigentümer{
    position: absolute;
    width: 366px;
    height: 25px; 
    left: 435px;
    top: 500px;
}

#eigentümer1{
    position: absolute;
    width: 365px;
    height: 25px; 
    left: 435px;
    top: 478px;
}

#besitzer{
    position: absolute;
    width: 385px;
    height: 25px; 
    left: 38px;
    top: 580px;
}

#besitzer1{
    position: absolute;
    width: 385px;
    height: 25px; 
    left: 38px;
    top: 555px;
}

#standort{
    position: absolute;
    width: 365px;
    height: 25px; 
    left: 436px;
    top: 580px;
}

#standort1{
    position: absolute;
    width: 385px;
    height: 25px; 
    left: 435px;
    top: 555px;
}


#maße1{
    position: absolute;
    left: 38px;
    top: 685px;
}

#maße{
    position: absolute;
    width: 385px;
    height: 90px;
    left: 38px;
    top: 710px;
}

#kurzbeschreibung1{
    position: absolute;
    width: 385px;
    height: 90px;
    left: 435px;
    top: 685px;
}

#kurzbeschreibung{
    position: absolute;
    width: 364px;
    height: 90px;
    left: 435px;
    top: 710px;
}


#sichtbar{
    position: absolute;
    top:885px;
    left:38px;
}

#sichtbar1{
    position: absolute;
    top:888px;
    left:70px;
}


#nichtSichtbar{
    position: absolute;
    top:910px;
    left:38px;
}

#nichtSichtbar1{
    position: absolute;
    top:914px;
    left:70px;
}


#speichern{
    position: absolute;
    background-color: rgb(48, 47, 47);
    color: white;
    top:980px;
    left: 38px;
    width: 183px;
    border:0;
    height: 31px;
}

#löschen{
    position: absolute;
    background-color:rgb(48, 47, 47); 
    color: white;
    top:980px;
    left: 235px;
    width: 183px;
    border:0;
    height: 31px;
}

#auswahl{
    position: absolute;
    top:885px;
    left: 439px;
    width: 367px;
    height: 30px;
    border: 1px solid black;
    background-color: white;
}


#übersicht{
    position:absolute;
    left:38px;
    top:1060px;
}


table{
    position: absolute;
    top:1120px;
    widows: 100%;
    background-color: white;
    font-size: 12px;
    width: 805px;
    left:13px;
}

th {
    text-align: left;
    color: black;
    height: 15px;
    background-color: white;
    left: 38px;
    padding: 10px;

}

td {
    text-align: left;
    color: black;
    height: 30px;
    background-color:white;
    padding:10px;
}

.zeile1 td {
    background-color: #dbdbdb ;
}

.zeile3 td{
    background-color: #dbdbdb ;
}

.zeile5 td{
    background-color: #dbdbdb ;
}


#hinzufügen{
    position:absolute;
    top:1450px;
    height: 30px;
    border:0;
    background-color:rgb(48, 47, 47); 
    color:white;
    left:38px;

}

